.detail-specialty-container {
  background-color: #eeeeee;
  .detail-specialty-content {
    margin-top: 100px;
    .desc-specialty {
      background-color: rgba(255, 255, 255, 0.795);

      height: 200px;
      overflow: hidden;
    }
    .show-hidden {
      height: 30px;
      width: 100%;
      align-items: center;
      background-color: rgb(255, 149, 11);
      span {
        height: 100%;
        cursor: pointer;
        width: 50px;
        color: white;
        font-size: 1.1rem;
      }
    }
    .search-sp-location {
      .select-location {
        height: 30px;
        outline: none;
      }
    }
    .all-each-doctor {
      width: 100%;

      .each-doctor {
        padding-bottom: 10px;
        border-radius: 5px;
        background-color: white;
        display: flex;
        min-height: 300px;
        margin: 10px 0;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px 0px,
          rgba(0, 0, 0, 0.2) 0px 0px 1px 0px;
        .dt-content-left {
          width: 50%;
          padding: 10px 20px;
        }
        .dt-content-right {
          position: relative;
          width: 50%;
          .each-doctor-schedule {
            &::before {
              content: "";
              border-left: 1px solid #eeeeee;
              height: 55%;
              position: absolute;
              top: 0;
              left: -5px;
            }
          }
          .each-doctor-extra-info {
            border-top: 1px solid #eeeeee;
            .customize-extra {
              padding-left: 0 !important;
            }
          }
        }
      }
    }
  }
}
