.manage-schedule-container {
  .m-s-title {
  }
  .m-s-up {
    align-items: flex-end;
  }
  .pick-hour-container {
    border: 1px solid rgb(240, 240, 240);
    margin: 5px 0;
    padding: 20px 10px;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    .btn-schedule {
      padding: 0 6px;
    }
    .btn-active {
      padding: 0 6px;
      background-color: rgb(32, 238, 0);
    }
  }
}
